# Backend (Spring Boot)
backend/target/
backend/.idea/
backend/.vscode/
backend/.env
backend/application.properties

# Frontend (React)
frontend/node_modules/
frontend/build/
frontend/.env

# Archivos del sistema
.DS_Store
Thumbs.db
